<div class="content" role="main">
  <h1 class="content">{{title}}</h1>
  <nav>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
  </nav>

  <router-outlet></router-outlet>
  
  <app-messages></app-messages>

  <app-viz-canvas></app-viz-canvas>

</div>
